/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont,
                 'Segoe UI', Roboto, Ubuntu, Cantarell;
    background-color: #f0fff4;
}

/* Header */
header {
    background-color: #1f6f54;
    color: white;
}

/* Logo + Title */
.heading {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 15px 0;
}

.heading h1 {
    font-size: 28px;
}

/* Navbar */
nav.navbar {
    background-color: #2f855a;
    padding: 12px 0;
}

nav.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;   
    gap: 60px;                
}

nav.navbar ul li a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    padding: 8px 14px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

nav.navbar ul li a:hover {
    background-color: #38a169;
}

/* Hero Section */
.hero-section {
    background-color: #2f855a;
    color: white;
    padding: 60px 20px;
    text-align: center;
}

.hero-section h2 {
    text-decoration: underline ;
    font-size: 32px;
    margin-bottom: 15px;
}

.hero-section p {
    font-size: 18px;
    max-width: 800px;
    margin: 0 auto;
}

/* Footer */
footer {
    background-color: #1f6f54;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}
